html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-weight: 100;
    
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
body {
    color:white;
}
/*::-webkit-scrollbar
{
    width: 0px;
    height: 0px;
}
*/
::selection {
   background-color: rgba(0,0,0,.1);
}
body .noScroll {
    overflow-x: hidden;
}

header {
    width:100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
}
.bg {
    width:100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    z-index: -2;
    
}
.bg video {
    width:100%;
}
.bg img {
    height: 100vh;
}
.plenka {
    width: 100%;
    height:100vh;
    background: rgba(0,0,0,.4);
    z-index:-1;
    position: absolute;
    left:0;
    top:0;
}
.head {
    background-color: rgba(0,0,0,.4);
    padding: 10px;
    overflow: hidden;
    position: fixed;
    left:0;
    top:0;
    transition: 0.5s;
    z-index: 9999;
}
.active-nav {
    background-color: black;
}
.active-nav .logo img {
    width: 50px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.5s;
}
.logo img {
    width: 60px;
    border-radius: 50%;
    transition: 0.5s;
}
.logo a {
    text-decoration: none;
    color:white;
    font-size: 30px;
    transition: 0.5s;
}
.logo a:hover {
    letter-spacing: 3px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.menu ul {
    list-style: none;
    display: flex;
    margin:0;
}
.menu ul li a {
    color:white;
    text-decoration: none;
    padding: 30px 20px;
    font-size: 20px;
}
.menu ul li a:hover {
    background: #f1c40f;
} 
.menu .menu-mob-bth {
    display: none;
}
.menu .menu-mob-bth span {
    width:40px;
    height: 2px;
    border-radius: 4px;
    background-color:rgba(255,255,255,.8);
    margin-top: 7px;
    display: block;

}
.bg-mob {
    display: none;
}
.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.main-title {
    margin-top: 215px;
}
.main-title h1 {
    position: relative;
    font-weight: 1;
    font-size: 80px;
    padding: 20px;
    position: relative;
    opacity: 1;    
}

.main-title p {
    padding:10px;
    font-size: 40px;
    text-align: center;
}

.bth {
    text-decoration: none;
    padding:10px 60px;
    border: 1px silver solid;
    font-size: 30px;
    color:white;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}
.bth:hover{
    color:white;
    text-decoration: none;
    border:1px #f1c40f solid;
}
.bth::before {
    content: "";
    width:100%;
    height: 0%;
    background-color: #f1c40f;
    transition:0.5s;
    position: absolute;
    bottom: 0;
    left:0;
    z-index:-1;
}
.bth:hover::before {
    height: 100%;
}
.about{
    width:100%;

    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
.about-left {
    color: black;
    
}
.about-left h2 {
    font-size: 60px;
    margin-top: 100px;
    font-weight: 1;
    position: relative;
}
.about-left h2::before {
    content: "";
    width:50%;
    height: 2px;
    position: absolute;
    bottom:-6px;
    left:-10px;
    background-color: #f1c40f;
}

.about-info {
    padding: 40px;
    width:500px;
}
.about-right {
    position: relative;
}
.about-right img {
    display: block;
}
.about-right .teamImg1{
    width:300px;
    margin-top: 100px;

}
.about-right .teamImg2 {
    width:500px;
    transform: translate(100px,-150px);
}
.work {
    width:100%;

    color:black;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 50px;
}
.work-title {
    margin-top: 30px;
    font-size: 70px;
    height: 200px;
    margin-bottom:70px;
    
    
    position: relative;

}
.work-title-div {
    padding: 50px;
    background-color: white;
}
.work-title::before {
    content: "";
    width: 80%;
    height: 2px;
    background-color: black;
    position: absolute;
    left:50%;
    top:52%;
    transform: translate(-50%,-50%);
    z-index: -1;

}
.work img {
    width: 100px;
}

.work-part {
    margin-top: 30px;
    text-align: center;
}
.work-part h3 {
    font-weight: 1;
    padding: 20px;
    
}
.work-part p {
    padding:20px;
}
.order {
    width:100%;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-image: url(../img/order-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.order-title {
    font-size: 80px;

}
.order-left p {
    font-size: 40px;
    padding: 10px;
}
.order-right {
    
    text-align: center;
}
.order-right input {
    margin:20px;
    display: block;
    padding: 20px;
    border-radius: 20px;
    border:4px white solid;
    background-color: transparent;
    color:white;
}
.order-right input:focus {
    border:4px #f1c40f solid;
}
.order-right button {
    margin-top:10px;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 30px;
    background-color: transparent;
    border:4px white solid;
    color:white;
}
.order-right button:hover {
    border: 4px solid #f1c40f;
}
.contacts {
    height: 300px;
    text-align: center;
    position: relative;
    
}
.contacts .contacts-title {
    font-family: 'Cutive Mono', monospace;
    margin-top: 130px;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.contacts a {
    color: black;
    text-decoration:none;
    font-size: 18px;

}
.socials img {
    width:50px;
}
.plenka-order {
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    left:0;
    top:0;
}
.bth-mob-contacts {
    display: none;
}
.onlyLatinAlertMessage {
    position: fixed;
    right:-200px;
    top:20%;
    width:200px;
    height: 120px;
    background-color: #ce3426;
    border-radius: 20px 0 0 20px;
    text-align: center;
    transition: 0.5s;
}
.onlyLatinAlertMessage img {
    width:30px;
}
.onlyLatinAlertMessage.active {
    right: 0;
}

@media (max-width: 576px) {
    .head {
        overflow: visible;
    
    }
    .logo {
        padding: 10px;
    }
    .menu ul {
        position: fixed;
        top:0;
        left:100%;
        width:100%;
        height:100vh;
        display: grid;
        grid-template-columns: 1fr;
        transition:0.5s;
        background: black;
        padding:0 0 100px 0 ;
        z-index: 9999;
    }
    .menu ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu ul li a:hover {
        background-color: transparent;
    }
    .menu .menu-mob-bth {
        display: block;
        position: absolute;
        right: 60px;
        top:50%;
        transform: translateY(-50%);   
 }

    .main-title h1 {
        font-size: 3rem;
        text-align: center;
    }
    .main-title p {
        font-size: 1.5rem;
    }
    .bth {
        padding: 5px 50px;
    }
    .about {
        overflow:visible;
        height:auto;
    }
    .about-right {
        display: none;
    }
    .about-left {
        max-width: 100%;
        padding: 20px;
        flex:0 0 auto;
    }
    .about-left .about-info {
        width:100%;
    }
    .work {
        height:auto;
        
    }
    .work-title::before {
        width: 90%;
    }
    .work .container .row {
        display: grid;
        grid-template-columns: 1fr;
    }
    .work .container .row div {
        max-width: 100%;
    }
    .order {
        height: auto;
    }
    .order .container .row {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .order .container .row div {
        max-width: 100%;
    }
    .plenka-order {
        height: 100%;
    }
    .order-left,.order-right {
        height:50vh;
        box-sizing: border-box;
        
    }
    .order-title {
        text-align: center;
        font-size: 3.5rem;
    }
    .order-left p {
        text-align: center;
        font-size: 2rem;
    }
    .order-right {
        margin-bottom: 40px;

    }
    .bth-mob-contacts {
        display: flex;
        font-size: 2rem !important;
        transition: 0.5s;
        cursor: pointer;        
    }
    .bth-mob-contacts:hover {
        color: white;
        background-color: rgba(0,0,0,.9);
    }
    
    .mob-contacts {
        position: absolute;
        left:-100%;
        top: 0;
        transition: 0.5s;
    }
    .activeMobContacts .mob-contacts{
        left:0;
    }
    .activeMobContacts .bth-mob-contacts {
        transform: translateX(100%);
    }
    .mob-contacts .row {
        display: grid;
        grid-template-columns: 1fr;
    }
    .mob-contacts .row div {
        max-width:100%;
    }
    .contacts .contacts-title {
        margin-top: 20px;
    }
    .menu-mob-bth {
        cursor: pointer;
        padding: 10px;
    }
    .activeMobMenu ul{
        left: 0;
        
    }
    .bg video {
        display: none;
    }
    .bg-mod img {
        height: 100vh;
        object-fit: cover;
    }
    .bg-mob {
        display: block;
        width:100%;
        height:100vh;
    }
    .order-right input {
        border:2px solid white;
    }
    .order-right button {
        border:2px solid white;
    }
    .order-right button:hover {
        border:2px solid #f1c40f;
    }
    .order-right input:focus {
        border:2px solid #f1c40f;
    }
    .order {
        background-attachment: unset;
        object-fit: contain;
    }
    .onlyLatinAlertMessage{
        position: relative;
        width:100%;
        left: 0;
        top:-100%;
        height: 0px;
        border-radius:0;
        overflow: hidden;
    }
    .onlyLatinAlertMessage.active {
        top:0;
        height: 65px;
    }
    .head {
        padding: 0;
    }
}
